<h1>Logged Incidents</h1>

<strong>Incident Victim:</strong> <%= @victim_name %><br />


<a href="/index/<%=  :id  %>/edit">Edit Incident</a>

<form action="/index/<%=  :id  %>" method="POST">
<input type="hidden" value="DELETE"  name="_method">
<input type="submit" value="Delete">

</form>
