<h1>Logged Incidents</h1>

<strong>Incident Victim:</strong> <%= @victim.name %><br />


<a href="/index/<%=  @incident.id  %>/edit">Edit Incident</a>

<form action="/incidents/<%=  @incident.id  %>" method="POST">
  <input type="hidden" value="DELETE"  name="_method">
  <input type="submit" value="Delete">

</form>
