<html> 
<head>
    <title>Welcome to the Police Behavior Tracker</title> 
</head>
<body>
    <label id="newUserGreeting"></label>
</body>

<script>
    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('newUserGreeting').innerHTML =
        '<b>' + greet + '</b> -- Please sign up below';
</script> 

<form action="/signup" method="POST">
    
    
    <p style=text-align:left;>
    <label for="username">Username</label>
    <input type="text" name="user[username]" placeholder="username"></p>

    <p style=text-align:left;>
    <label for="email">Email</label>
    <input type="text" name="user[email]" placeholder="email@email.com"></p>

    <p style=text-align:left;>
    <label for="password">Password</label>
    <input type="password" name="user[password]" placeholder="password"></p>

    <input type="submit" value="submit">
    
</form>


</html>

