<html> 
<head>
    <title>Welcome to the Police Behavior Tracker</title> 
</head>
<body>
    <label id="newUserGreeting"></label>
</body>

<script>
    var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('newUserGreeting').innerHTML =
        '<b>' + greet + '</b> -- Please sign up below';
</script> 

<table>
<tbody>
<form action="/signup" method="POST">
    

    <tr><td><label for="name">Username:</label></td>
    <td><input type="text" name="user[username]" placeholder="username"></td></tr>
    <tr><td><label for="password">Password:</label></td>
    <td><input type="text" name="user[password]" placeholder="********"></td></tr>
    <tr><td><label for="email">Email:</label></td>
    <td><input type="text" name="user[email]" placeholder="email@email.com"></td></tr>
    </tbody>
    </table>  
<input type="submit" value="Submit">


</form>
    


</html>

