<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head><center>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <center><title>Police Behavior Tracker</title></center>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head></center>
  <body>
    <div class="wrapper" style="text-align:"center">
      <center><h1>Police Behavior Tracker</h1>
      <small> <a href="/logout"> Log Out </a> | <a href="/">Home </a></small><br><br>
      </center>
        <%= yield %>

      <footer class="branding"><center>
      <small> <a href="/logout"> Log Out </a> | &copy; 2020 <strong>Police Behavior Tracker</strong> | <a href="/">Home </a></small>
      

<script language="JavaScript">
var clockID = 0;
function UpdateClock() {
   if(clockID) {
      clearTimeout(clockID);
      clockID  = 0;
   }
   var tDate = new Date();

   document.theClock.theTime.value = "" 
                                   + tDate.getHours() + ":" 
                                   + tDate.getMinutes() + ":" 
                                   + tDate.getSeconds();
   clockID = setTimeout("UpdateClock()", 1000);
}
function StartClock() {
   clockID = setTimeout("UpdateClock()", 500);
}
function KillClock() {
   if(clockID) {
      clearTimeout(clockID);
      clockID  = 0;
   }
}
</script>
<!--</head>-->
<body onload="StartClock()" onunload="KillClock()">
<form name="theClock">
   <input type=text name="theTime" size=8 style="text-align: center">
</form>

</html>